.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background-color 2s;
}
/* soluzione esercizio 1 */
.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 5s linear;
}
/* soluzione esercizio 2 */
.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: border-radius 2s;
}
/* soluzione esercizio 3 */
.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: background-color 2s;
}
/* soluzione esercizio 4 */
.ex-4-square:hover {
  background-color: transparent;
}

.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: transform 2s;
}
/* soluzione esercizio 5 */
.ex-5-square:hover {
  transform: scale(2, 2);
}
.ex-5-square:active {
  transform: scale(0.5, 0.5);
}

.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}
/* soluzione esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(100%);
}
/* soluzione esercizio 7 */
.ex-7-img:hover {
  transition-duration: 1s;
  filter: grayscale(80%) sepia(40%);
}
/* soluzione esercizio 8 */
.ex-8-img:hover {
  transition-duration: 1s;
  border-radius: 10px;
  filter: grayscale(80%) sepia(40%);
}

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
}
/* soluzione esercizio 9 */
.ex-9-img:hover {
  transition-duration: 1s;
  transition-timing-function: ease-out;
  border-radius: 10px;
  filter: grayscale(80%) sepia(40%);
  transform: scale(1.5);
}

.ex-10-icon {
  font-size: 60px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* soluzione esercizio 10 */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.ex-11-icon {
  font-size: 60px;
}
/* soluzione esercizio 11 */
.ex-11-icon:hover {
  animation-name: rotate_2;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes rotate_2 {
  from {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

/* soluzione esercizio 12 */
.ex-12-button:hover > div {
  animation: es12_top 2s linear;
  animation: es12_bottom 2s linear;
}
@keyframes es12_top {
  from {
    left: 10%;
  }
  50% {
    left: 70%;
  }
  to {
    left: 10%;
  }
}
@keyframes es12_bottom {
  from {
    right: 20%;
  }
  50% {
    right: 70%;
  }
  to {
    right: 20%;
  }
}
